---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import ProblemSection from '../components/ProblemSection.astro';
import Benefits from '../components/Benefits.astro';
import About from '../components/About.astro';
import Testimonials from '../components/Testimonials.astro';
import Offerings from '../components/Offerings.astro';
import HowItWorks from '../components/HowItWorks.astro';
import FAQ from '../components/FAQ.astro';
import LeadMagnet from '../components/LeadMagnet.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <ProblemSection />
    <Benefits />
    <About />
    <Testimonials />
    <Offerings />
    <HowItWorks />
    <FAQ />
    <LeadMagnet />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
